
Animations.meta
Audio/Impacts Sounds.meta
Audio.meta
Audio/Impacts Sounds/Concrete.meta
Audio/Impacts Sounds/Concrete/impact_Concrete_01.mp3.meta
Audio/Impacts Sounds/Concrete/impact_Concrete_02.mp3.meta
Audio/Impacts Sounds/Concrete/impact_Concrete_03.mp3.meta
Audio/Impacts Sounds/Metal/impact_Metal_01.mp3.meta
*.meta
/Models
/Plugins
/Samples
/TextMesh Pro
/Fonts
/Resources/Models
/Resources/Fonts
Resources/Fonts/atwriter SDF.asset
Resources/Fonts/Roadway SDF.asset
